@use 'mixins' as *;

:host {
	justify-content: center;
	align-items: center;

	@include container();

	p-card {
		min-width: 350px;

		form {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			gap: 1.75rem;

			fieldset {
				display: flex;
				flex-direction: column;
				gap: 1.75rem;

				padding: 0;
				border: none;
				margin: 0;
			}

			input, p-password, p-button {
				width: 100%;
			}
		}
	}
}
