@if (isSignInWithEmailLink) {
	<p-card header="S'inscrire">
		<p-divider/>
		<form (ngSubmit)="onSubmit()" [formGroup]="formSignUp">
			<p-floatlabel>
				<p-iconfield>
					<p-inputicon class="pi pi-users"/>
					<input id="lastName" pInputText formControlName="lastName" name="lastName" required/>
				</p-iconfield>
				<label for="lastName">Nom de famille</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-iconfield>
					<p-inputicon class="pi pi-user"/>
					<input id="firstName" pInputText formControlName="firstName" name="firstName" required/>
				</p-iconfield>
				<label for="firstName">Prénom</label>
			</p-floatlabel>

			<fieldset [disabled]="true">
				<p-floatlabel>
					<p-iconfield>
						<p-inputicon class="pi pi-user"/>
						<input id="role" pInputText formControlName="role" name="role" required [disabled]="true"/>
					</p-iconfield>
					<label for="role">Rôle</label>
				</p-floatlabel>

				<p-floatlabel>
					<p-iconfield>
						<p-inputicon class="pi pi-at"/>
						<input id="email" pInputText formControlName="email" name="email" required [disabled]="true"/>
					</p-iconfield>
					<label for="email">Adresse email</label>
				</p-floatlabel>
			</fieldset>

			<p-floatlabel>
				<p-iconfield>
					<p-inputicon class="pi pi-lock"/>
					<p-password inputId="password" name="password" formControlName="password" [feedback]="false"
											toggleMask="true" required/>
				</p-iconfield>
				<label for="password">Mot de passe</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-iconfield>
					<p-inputicon class="pi pi-lock"/>
					<p-password inputId="confirmPassword" name="confirmPassword" formControlName="confirmPassword"
											[feedback]="false"
											toggleMask="true" required/>
				</p-iconfield>
				<label for="confirmPassword">Confirmer votre mot de passe</label>
			</p-floatlabel>
			<p-message severity="info">
				Les mots de passe doivent contenir au minimum :
				<ul>
					<li>10 caractères</li>
					<li>1 lettre majuscule</li>
					<li>1 lettre minuscule</li>
					<li>1 chiffre</li>
					<li>1 caractère spécial (!&#64;#$%^&* etc.)</li>
				</ul>
			</p-message>



			@if (formSignUp.touched && formSignUp.errors?.['passwordMismatch']) {
				<p-message severity="error">Les mots de passe ne correspondent pas.</p-message>
			}

			<p-button pRipple icon="pi pi-user-plus" type="submit" label="S'inscrire"
								[disabled]="formSignUp.invalid" [loading]="loading"/>
		</form>
		@if (error) {
			<p-message severity="error">{{ error }}</p-message>
		}
	</p-card>
}

