@use 'mixins' as *;

:host {
	@include container();
}

p-toolbar, p-card {
	width: 100%;
}

p-toolbar {
	margin-block: 2rem 1rem;

	div {
		flex: 1;
	}
}

.checkbox-container {
	display: flex;
	gap: 1rem;

	label {
		color: #a1a1aa;
	}
}

.margin-b2 {
	margin-bottom: 2rem;
}

.margin-b1 {
	margin-bottom: 1rem;
}

.input-row {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;

	p-select {
		min-width: 244px;
	}
}

i {
	margin-right: 1rem;
}

.text-success {
	color: #22bb4f;
}

.text-warning {
	color: #e33026;
}

.text-info {
	color: #2f82f6;
}

p-toolbar p-message {
	margin-right: 2rem;
}

.description-mean-payment {
	margin-block: 1rem;
	color: #a1a1aa;
}

.margin-l2 {
	margin-left: 2rem;
	padding-inline: 1rem;
}

.activity-recap {
	display: flex;
	gap: 2rem;
	margin-bottom: 1rem;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
}

.header-end {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

textarea {
	width: 100%;
}

.margin-t2 {
	margin-top: 2rem;
}
