<p-toast/>
<p-confirmDialog/>

<div class="page-header">
	<h2>
		<i class="title-icon pi pi-plus"></i>
		Nouvelle inscription
	</h2>
	<p>
		Cette page vous permet de créer une nouvelle inscription pour un élève. Vous pouvez saisir les informations
		d'identité de l'élève, les informations du responsable légal et les modalités de paiement.
	</p>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
	<p-toolbar>
		<ng-template #start>
			<p-button pRipple icon="pi pi-times" label="Annuler" severity="secondary" (onClick)="goBack()"/>
		</ng-template>

		<ng-template #end>
			@if (registrationForm.invalid) {
				<p-message severity="warn">
					Le formulaire n'est pas totalement ou correctement rempli.
				</p-message>
			} @else {
				<p-message severity="success">
					L'inscription est prête à être confirmée.
				</p-message>
			}
			<p-button pRipple icon="pi pi-check" label="Confirmer l'inscription" type="submit"
								[disabled]="!hasData || registrationForm.invalid"/>
		</ng-template>
	</p-toolbar>

	<p-card>
		<p-accordion value="0">
			<p-accordion-panel value="0">
				<p-accordion-header>
					<span>
						@if (registrationForm.get("student")!.valid) {
							<i class="pi pi-check-circle text-success"></i>
						} @else {
							<i class="pi pi-times-circle text-warning"></i>
						}
						1. Identité de l'élève
					</span>
				</p-accordion-header>
				<p-accordion-content formGroupName="student">
					<p class="margin-4">
						Cette section vous permet de saisir les informations d'identité de l'élève.
					</p>
					<div class="input-row">
						<p-floatlabel>
							<label for="firstName">Prénom</label>
							<input id="firstName" pInputText formControlName="firstName" placeholder="John" required/>
						</p-floatlabel>
						<p-floatlabel>
							<label for="lastName">Nom</label>
							<input id="lastName" pInputText formControlName="lastName" placeholder="Doe" required/>
						</p-floatlabel>
						<p-floatlabel>
							<label for="birthDate">Date de naissance</label>
							<p-datePicker formControlName="birthDate" placeholder="01/01/1900" required/>
						</p-floatlabel>
					</div>
				</p-accordion-content>
			</p-accordion-panel>

			<p-accordion-panel value="1">
				<p-accordion-header>
					<span>
						@if (registrationForm.get("responsible")!.valid) {
							<i class="pi pi-check-circle text-success"></i>
						} @else {
							<i class="pi pi-times-circle text-warning"></i>
						}
						2. Responsable légal (adhérent actif)
					</span>
				</p-accordion-header>
				<p-accordion-content formGroupName="responsible">
					<p class="margin-b1">Cette section vous permet de saisir les informations légal de l'élève ou
						de son responsable légal.</p>
					<div class="checkbox-container margin-4">
						<p-checkbox formControlName="isStudentResponsible" binary="true" inputId="student-is-responsible"/>
						<label for="student-is-responsible">L'élève est son propre responsable légal</label>
					</div>
					<div class="input-row margin-4">
						<p-floatlabel>
							<label for="responsibleFirstName">Prénom</label>
							<input id="responsibleFirstName" pInputText formControlName="firstName" placeholder="Jane" required/>
						</p-floatlabel>
						<p-floatlabel>
							<label for="responsibleLastName">Nom</label>
							<input id="responsibleLastName" pInputText formControlName="lastName" placeholder="Doe" required/>
						</p-floatlabel>
						<p-floatlabel>
							<label for="responsibleEmail">E-mail</label>
							<input id="responsibleEmail" pInputText formControlName="email" placeholder="exemple@mail.com" required/>
						</p-floatlabel>
						<p-floatlabel>
							<label for="responsiblePhone">Téléphone</label>
							<input id="responsiblePhone" pInputText formControlName="phone"
										 placeholder="0612345678" required/>
						</p-floatlabel>
					</div>
					<div class="input-row">
						<p-floatlabel>
							<label for="responsibleAddress">Adresse</label>
							<input id="responsibleAddress" pInputText formControlName="address"
										 placeholder="123 Rue de l'Exemple" required/>
						</p-floatlabel>
						<p-floatlabel>
							<label for="responsiblePostalCode">Code postal</label>
							<input id="responsiblePostalCode" pInputText formControlName="postalCode"
										 placeholder="75000" required/>
						</p-floatlabel>
						<p-floatlabel>
							<label for="responsibleCity">Ville</label>
							<input id="responsibleCity" pInputText formControlName="city" placeholder="Paris" required/>
						</p-floatlabel>
					</div>
				</p-accordion-content>
			</p-accordion-panel>

			<p-accordion-panel value="2">
				<p-accordion-header>
					<span>
						@if (registrationForm.get("activities")!.valid) {
							<i class="pi pi-check-circle text-success"></i>
						} @else {
							<i class="pi pi-times-circle text-warning"></i>
						}
						3. Choix des activités
					</span>
				</p-accordion-header>
				<p-accordion-content formArrayName="activities">
					<p class="margin-4">Cette section vous permet de sélectionner les activités auxquelles l'élève
						souhaite participer.<br>Vous pouvez choisir plusieurs activités.</p>
					@for (activity of activities.controls; let index = $index; track $index) {
						<div class="input-row margin-b1" [formGroupName]="index">
							<p-select formControlName="id" inputId="{{ index }}-activity"
												placeholder="Choisir une activité"
												[options]="catalog" optionLabel="name"
												optionValue="id" required (onChange)="onActivityChange(index)"/>
							<p-select formControlName="forfait" inputId="{{ index }}-forfait"
												placeholder="Forfait"
												[options]="forfaitsForActivity(index)!" optionLabel="label"
												optionValue="value" [disabled]="activity.get('id')!.value === ''" required/>

							<p-button icon="pi pi-trash" severity="danger"
												[disabled]="activities.length === 1"
												(click)="removeActivity(index)"/>
						</div>
					}
					<p-button icon="pi pi-plus" label="Ajouter une activité" class="margin-b1"
										(click)="addActivity()"/>
				</p-accordion-content>
			</p-accordion-panel>

			<p-accordion-panel value="3">
				<p-accordion-header>
					<span>
						@if (registrationForm.get("payment")!.valid) {
							<i class="pi pi-check-circle text-success"></i>
						} @else {
							<i class="pi pi-times-circle text-warning"></i>
						}
						4. Modalités de paiement
					</span>
				</p-accordion-header>
				<p-accordion-content formGroupName="payment">
					<p class="margin-b1">
						Cette section vous permet de saisir les modalités de paiement pour l'inscription de l'élève.
					</p>
					<div class="input-row">
						<label for="paymentMethod" class="text-secondary">Méthode de paiement</label>
						<p-select inputId="paymentMethod" formControlName="method" placeholder="Choisir un mode de paiement"
											[options]="paymentMethods" optionLabel="label" optionValue="value" required/>
					</div>
					<p class="description-mean-payment">Les informations ci-dessous sont données à titre indicatif.</p>
					@for (meanOfPayment of meanOfPaymentOptions; track meanOfPayment.value) {
						<div class="checkbox-container">
							<p-checkbox binary="true" inputId="{{ meanOfPayment.value }}" readonly [disabled]="true"/>
							<label for="{{ meanOfPayment.value }}">
								{{ meanOfPayment.label }}
							</label>
						</div>
					}
				</p-accordion-content>
			</p-accordion-panel>

			<p-accordion-panel value="4">
				<p-accordion-header>
					<span>
						@if (registrationForm.get("consents")!.valid) {
							<i class="pi pi-check-circle text-success"></i>
						} @else {
							<i class="pi pi-times-circle text-warning"></i>
						}
						5. Consentements
					</span>
				</p-accordion-header>
				<p-accordion-content formGroupName="consents">
					<p class="margin-4">Cette section vous permet de saisir les informations de consentements
						relatives à l'adhésion de l'élève.</p>
					<div class="checkbox-container margin-b1">
						<p-checkbox formControlName="imageRight" binary="true" inputId="imageRight"/>
						<label for="imageRight">
							J'autorise l'association à utiliser l'image de l'élève dans le cadre des activités de l'association
							et sur les supports de communication (site web, réseaux sociaux, etc.)
						</label>
					</div>
					<div class="checkbox-container margin-b1">
						<p-checkbox formControlName="insuranceRC" binary="true" inputId="insuranceRC"/>
						<label for="insuranceRC">
							J'atteste que l'élève est couvert par une assurance responsabilité civile pour les activités de
							l'association. (Obligatoire)
						</label>
					</div>
					<div class="checkbox-container margin-b1">
						<p-checkbox formControlName="internalRules" binary="true" inputId="internalRules"/>
						<label for="internalRules">
							J'ai lu et j'accepte le règlement intérieur de l'association. (Obligatoire)
						</label>
					</div>
					<div class="checkbox-container">
						<p-checkbox formControlName="helpEvent" binary="true" inputId="helpEvent"/>
						<label for="helpEvent">
							Je suis prêt à aider lors d'un événement de l'association pour aider à son bon fonctionnement.
						</label>
					</div>
				</p-accordion-content>
			</p-accordion-panel>
		</p-accordion>
	</p-card>
</form>
