@use '../../../../styles/mixins' as *;

:host {
	@include container();

	p-card {
		width: 100%;
		flex: 1;
		margin-top: 2rem;

		display: flex;
		flex-direction: column;

		.research-bar {
			width: 60%;

			input {
				width: 100%;
			}
		}

		.name-table-container {
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			.display-name-text {
				font-weight: 600;
				font-size: 1.2rem;
			}

			.email-text {
				font-size: 0.9rem;
			}
		}

		tr {
			height: 5rem;

			th {
				width: 28%;

				&.action-header-cell {
					width: 16%;
				}
			}
		}

		.empty-table-msg {
			text-align: center;
			padding-block: 2rem;
		}
	}
}

.margin-2 {
	margin-right: 1rem;
}
