<p-table
	#tableStudent
	stripedRows
	[value]="data"
	[scrollable]="true"
	[loading]="loading"
	selectionMode="single" [(selection)]="selectedRow" dataKey="uid"
	(onRowSelect)="onRowSelect($event)"
	(onRowUnselect)="onRowUnselect($event)"
>
	<ng-template #header>
		<tr>
			<th>Nom</th>
			<th>Age</th>
			<th class="action-header-cell"></th>
		</tr>
	</ng-template>

	<ng-template #body let-student>
		<tr [pSelectableRow]="student">
			<td>
				<div class="name-table-container">
					<span class="display-name-text">{{ student.displayName }}</span>
				</div>
			</td>
			<td>
				<span>{{ student.age }} ans</span>
			</td>
			<td class="action-cell">
			</td>
		</tr>
	</ng-template>

	<ng-template #emptymessage>
		<tr>
			<td colspan="8" class="empty-table-msg">Aucun utilisateur trouvé.<br>La recherche est invalide ou une erreur
				s'est produite.
			</td>
		</tr>
	</ng-template>
</p-table>
