@use "variables" as *;
@import "primeicons/primeicons.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Nunito Sans", sans-serif;
}

html, body {
	width: 100%;
	min-height: 100%;
	position: relative;

	iframe {
		display: none;
	}

	p-card {
		padding: 0.5rem;

		.p-card-title {
			font-size: 2rem !important;
			font-weight: bold !important;
			text-align: center;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-family: "JetBrains Mono", sans-serif;
		color: $white;
	}

	p {
		font-size: 1rem;
		color: $white;
	}

}

p-button button {
	width: 100%;
}

p-password {
	input {
		width: 100%;
	}

	svg {
		cursor: pointer;
	}
}

.input-row {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	align-items: center;

	p-select {
		min-width: 244px;
	}
}

.checkbox-container {
	display: flex;
	gap: 1rem;

	label {
		color: #a1a1aa;
	}
}

.margin-b2 {
	margin-bottom: 2rem;
}

.margin-b1 {
	margin-bottom: 1rem;
}

.p-toolbar > div {
	flex: 1 !important;
	flex-wrap: wrap !important;
	gap: 1rem;
	align-items: stretch;

	&.flex-2 {
		flex: 2 !important;
	}

	&:first-of-type {
		flex-wrap: wrap-reverse !important;
	}
}

.p-toolbar-end {
	justify-content: flex-end !important;
}

.p-datatable-header {
	padding-inline: 0 !important;
	padding-block: 0 1.5rem !important;
}

.full-width {
	width: 100% !important;
}

.half-width {
	width: 50% !important;
}

.title-icon {
	font-size: 1.5rem !important;
}

.dialog-width {
	min-width: 40vw !important;
	width: auto;
	max-width: 80vw !important;
}

.text-secondary {
	color: #a1a1aa;
}

.bg-green {
	background-color: #193425 !important;
}

.bg-red {
	background-color: #3a1f21 !important;
}

.bg-blue {
	background-color: #1d293e !important;
}

.bg-yellow {
	background-color: #3a3117 !important;
}

.bg-white {
	background-color: $white !important;
}

.bg-dark-white {
	background-color: $dark-white !important;
}

.bg-gray {
	background-color: #27272a !important;
}

.page-header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;

	> * {
		flex: 1;
	}
}

.p-accordion-header {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
